:root {
    --margin-left: 20px; 
    --margin-left-tablet: 65px; 
    --color-black: #101111; 
    --color-white: #F5F5F5; 
    --regular-small-text: normal 16px/25px 'obviously', sans-serif;
    --regular-small-text-tablet: normal 20px/30px 'obviously', sans-serif;
    --nav-background-color: lightgrey; 
    --mobilenav-text-color: #101111; 
    
}

*{  
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'obviously', sans-serif;
    font-family: 'swear-display', serif;
    scroll-behavior: smooth;

}

/*PAGE 1*/ 
.page1{
    width: 100vw; 
    height: 100vh; 
   
}
/*MOBILE*/ 
@media screen and (min-width: 0px) {
/*HAMBURGER MENU*/ 
    .tablet-nav {
        display: none; 
    }
    .mobile-nav__menu-icon{
        background-color: transparent;
        max-width: 150px;
        stroke: var(--color-black);
        stroke-width: 1.5;
        cursor: pointer;
        width: 10%;
        z-index: 500;
        position: absolute; 
        bottom: 20px; 
        right: 20px; 
        position: fixed;
    }
    .mobile-nav__button {
        display: flex;
    }
    .mobile-nav__list{
        background-color: var(--color-black);
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 150px 30px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 400;
    }
    .logo-menu{
        width: 25%; 
        height: auto; 
        position: absolute;
        top: 20px; 
        left: 0; 
        padding: 0px; 
        cursor: pointer;
    }
    .mobile-nav__list-item {
        list-style-type: none;
    }
    .mobile-nav__list-link  {
        display: block;
        text-decoration: none;
        margin: 5px 0;
        padding: 10px 0;
        font: normal 25px/45px 'obviously', sans-serif; 
        cursor: pointer;  
        color: var(--color-white);
    }
    .mobile-nav__list-link:hover{
        font-style: italic;
    }
    .mobile-nav_contact-link{
        display: block;
        text-decoration: none;
        font: normal 15px/30px 'obviously', sans-serif; 
        color: var(--color-white);  
    }
    .mobile-nav-contact_list{
        margin-top: 280px; 
    }
    .menuOrder {
        font: italic 20px/35px 'swear-display', serif; 
        margin: var(--margin-left) 10px; 
        color: var(--color-white);
    }
    .mobile-nav__list {
        transform: translate(100vw);
    }
    .mobile-nav_contact-info{
        margin: 5px 0; 
    }
    .mobile-nav__list--open {
        animation: slideOpen .15s ease-in forwards;
    }
    .mobile-nav__list--close {
        animation: slideClosed .15s ease-in forwards;
    }
    @keyframes slideOpen {
        from {
            transform: translate(100vw);
        }
        to {
            transform: translate(0);
        }
    }
    @keyframes slideClosed {
        from {
            transform: translate(0);
        }
        to {
            transform: translate(100vw);
        }
    }
    .mobile-nav__menu-icon--open {
        display: none;
    }
    .nav {
        display: none;
    }

/*STYLE PAGE*/ 
    header, main{
        background-color: var(--color-white);
    }
    .introHeader {
        display: flex; 
        flex-flow: column wrap;
    }
    .logo {
        align-self: center;
        padding: 0 10px 0;   
        cursor: pointer;
    }

/*UI UX DESIGNER*/
    .title {
     font:  italic 20px/26px 'obviously', sans-serif; 
     color: var(--color-black);
     margin-top: -35px; 
     padding-right: 30px;  
     align-self: flex-end;
    }

/*I aim...*/
    .mainIntro p{
        font: normal 16px/26.8px 'obviously', sans-serif;
        color: var(--color-black);
        padding: var(--margin-left);
        margin-top: 350px;
    }

/*Stunning, ethical, effective*/
    .underline {
        text-decoration: underline;
    }   

/*circle*/
    .mainFooter img {
        position: absolute; 
        bottom: -10px; 
        left: 20px; 
        width: 45%; 
        height: auto; 
    }
    .iconBlack{
        z-index: 1;
        align-self: flex-end;
        opacity: 0; 
        transition: .2s ease-in-out; 
        background-color: transparent;
    }
    .iconWhite { 
        z-index: 1;
        align-self: flex-end;
        background-color: var(--color-white);
        opacity: 1; 
        border-radius: 50%;
    }
    .mainFooter {
        display: flex; 
        align-items: center;
        vertical-align:top;
        position: relative; 
        top: 180px; 
    }
    .mainFooter:hover  .iconBlack{
        opacity: 1;
    }
    .mainFooter:hover  .iconWhite{
        opacity:0; 
    }
    .hamburgerMenuDesktop {
        display: none; 
    }
    .caseStudyDesktop {
        display: none; 
    }

/*CASE STUDY*/ 
    .casestudy{
        display: flex; 
        flex-flow: row wrap; 
    }
    .works {
        width: 60%; 
        margin-top: 20px; 
    }
    .workTag {
        text-align: center;
    }
    .order1 {
        font: italic 72px 'obviously', sans-serif;
        color: var(--color-black);
        margin: -10px var(--margin-left);
    }

/*NBP*/
    .title1 {
        font: bold 27px/37px 'obviously', sans-serif; 
        color: var(--color-black);
        font-style: bold;
        padding: 0 var(--margin-left);
        margin-bottom: 15px; 
        text-decoration: none;
    }
    hr {
        border: none;
        height: 1px;
        background-color: var(--color-black);
        margin: 5px var(--margin-left);    
    }
    .container1 p {
        padding: 5px var(--margin-left);
    }
    .mobilePhoto {
        align-self: center;
        margin: 10px var(--margin-left);
        transition: .3s ease-in-out;
    } 
    .mobileThumbnail {
        width: 100%; 
        height: auto;
    }
    .tabletPhoto {
        display: none; 
    }

/*UI/UX Casestudy 2021*/
    .container1 .descriptionNbp {
        display: flex; 
        flex-flow: row nowrap; 
    }
    .year{
        margin-left: 90px; 
    }
    .container1 p {
        font: normal 16px/26.8px 'obviously', sans-serif; 
        color: var(--color-black);
        margin-bottom: 50px; 
    }
    footer {
        background-color: var(--color-black);
        color: var(--color-white);  
    }
    .footer1, .footer2, .footer3{
        padding: 25px var(--margin-left) 10px;
    }
    footer h3 {
        font: italic 27px/35px 'swear-display', serif; 
    }
    footer a, ul{
        font: var(--regular-small-text);
        color: var(--color-white);
        text-decoration: none;
        margin-top: 4px; 
    }
    .credit {
        padding: var(--margin-left);
        font: var(--regular-small-text);
    }}

@media screen and (min-width: 450px) {
    .mainFooter img {
        bottom: 15px; 
        left: 20px; 
        width: 35%; 
    }
    .mainIntro p{
        margin-top: 260px;
    }
    .mobile-nav__menu-icon{
        width: 10%;
    }
    .year{
        margin-left: 165px; 
    }
    .mobile-nav-contact_list{
        margin-top: 180px; 
    }
    .casestudy{
        display: block; 
    }
}

@media screen and (min-width: 650px) {
    .mainFooter img {
        bottom: -160px; 
        left: 20px; 
        width: 25%; 
    }
    .mainIntro p{
        margin-top: 250px;
    }
    .works{
        text-align: center;
    }
    .year{
        margin-left: 355px; 
    }
    .mobile-nav-contact_list{
        margin-top: 380px; 
    }}

/*TABLET*/ 
@media screen and (min-width: 768px) {
/*Hamburger menu*/
    .mobile-nav__list {
        padding: 190px var(--margin-left-tablet);
    }
    .mobile-nav__list-link {
        margin: 25px 0;
        font: normal 35px/45px 'obviously', sans-serif; 
    }
    .mobile-nav_contact-link{
        font: normal 18px/30px 'obviously', sans-serif; 
        color: var(--color-white);  
        margin-top: 20px; 
    }
    .mobile-nav-contact_list{
        margin-top: 350px; 
    }
    .menuOrder {
        font: italic 20px/35px 'swear-display', serif; 
        margin: var(--margin-left) 10px; 
        color: var(--color-white);
    }
    .mobile-nav{
        display: block; 
    }
    .logo-menu{
        width: 20%;
    }
    .title {
        font:  italic 25px/26px 'obviously', sans-serif;  
        margin-top: -80px;  
        padding-right: 55px; 
    }
    .mainIntro p{
        font: normal 25px/45px 'obviously', sans-serif;
        margin: 220px var(--margin-left) 0;
    }
    .mainFooter img {
        width: 30%; 
        height: auto; 
        position: absolute; 
        right: 40px; 
        bottom: -50px;
    }
    .hamburgerMenuDesktop {
        display: none; 
    }

/*CASE STUDY*/
    .works {
        width: 60%; 
        margin-top: 45px; 
        margin-left: 150px; 
    }
    .order {
        font: italic 85px 'obviously', sans-serif;
        font-weight: bold;
        margin:-40px var(--margin-left-tablet) 10px; 
    }
    .container1 img {
        margin: 0 var(--margin-left-tablet); 
        padding: 0; 
    }
    .mobilePhoto{
        display: none; 
    }
    .tabletPhoto{
        display:block; 
        align-self: center;
    }
    .tabletThumbnail {
        width: 95%; 
        height: auto; 
    }
    .title1 {
        font: bold 45px/65px 'obviously', sans-serif;
        padding: 0 25px;
    }
    .line {
        margin: 10px var(--margin-left-tablet);
    }
    .container1 p {
        font: normal 25px/40px 'obviously', sans-serif;
        margin-left: 5px; 
    } 
    .caseStudyDesktop {
        display: none; 
    }
     .footer1, .footer2, .footer3 {
        padding: var(--margin-left-tablet) var(--margin-left-tablet) var(--margin-left); 
    }
    footer h3 {
        font: italic 40px/45px 'swear-display', serif; 
        margin-bottom: 15px; 
    }
    footer a, ul {
        font: var(--regular-small-text-tablet); 
    }
    .spacing {
        padding: 10px 0; 
    }
    .credit {
       font: var(--regular-small-text-tablet);    
       margin-left: 10px;
    }
    .footer1, .footer2, .footer3 {
        padding: var(--margin-left-tablet) var(--margin-left-tablet) var(--margin-left); 
    }
    footer h3 {
        font: italic 40px/45px 'swear-display', serif; 
        margin-bottom: 15px; 
    }
    footer a, ul {
        font: var(--regular-small-text-tablet); 
    }
    .spacing {
        padding: 10px 0; 
    }
    .credit {
        font: var(--regular-small-text-tablet);    
        margin-left: 10px;
    }}

/*DESKTOP*/ 
@media screen and (min-width: 1440px) {
    .mobile-nav{
        display: none;
    }
    .page1, .page2{
        width: 100%; 
        height: auto; 
    }
    body{
        background-color: var(--color-white);
    }
    nav{
        display: none;
    }
    .tablet-nav__menu-icon{
        display: none;
    }
    .logo{
        width: 95%; 
        height: auto; 
        margin-top: -60px; 
        text-align: center;
        margin-left: 70px;
    }
    .title {
        font:  italic 50px/70px 'obviously', sans-serif;
        margin-top: -170px;   
        margin-right: 45px; 
    }
    .mainIntro p {
        font: normal 30px/40px 'obviously', sans-serif;
        text-align: right;
        margin: -100px 85px;   
    }
    .footerHeroPage {
        margin: 200px 0 0; 
        position: relative;
        background-color: var(--color-white); 
    }
    .mainFooter img {
        width: 20%; 
        height: auto; 
        position: absolute; 
        top: -100px; 
        left: 1100px; 
    }
    .hamburgerMenuDesktop {
        display: block; 
    }
    .hamburgerMenuDesktop a:hover{
        font-style: italic;
    }
    .hamburgerMenuDesktop a:active{
        text-decoration: underline;
    }
    .footerHeroPage   .desktopMenuList {
        font:  normal 45px/50px 'obviously', sans-serif;
        color: var(--color-black); 
        text-decoration: none; 
    }
    .desktopNav_listItems{
        padding: 15px var(--margin-left-tablet);
    }
    .desktopNavList .menuOrder {
        font: italic 30px/50px 'swear-display', serif; 
        color: var(--color-black);
    }

/*PAGE 2*/ 
    .page2{
        width: 100%; 
        height: auto; 
        background-color: var(--color-white);
    }

/*CASE STUDY*/
    .works{
        width: 40%; 
        margin-left: -10px; 
    }
    .workTag{
        margin-top: 150px; 
        background-color: var(--color-white);
    }
    .tabletThumbnail{
        display: none;
    }
    caseStudyMobile_Tablet{
        display: none;
    }
    .order1 {
        display: none; 
    }
    .container2{
        display: none;
    }
    .caseStudyDesktop{
        display: block; 
        display: grid; 
        grid-template-columns: 30% auto;
        justify-items: center;
    }
    .desktopPhoto{
        display:block; 
    }
    .desktopThumbnail{
        width: 100%; 
        height: auto; 
        top: 50px; 
        right: 25px; 
        justify-self: flex-end;
        margin-bottom: 50px;
    }
    .order {
        font: italic 115px 'obviously', sans-serif;
        margin-left: var(--margin-left);
        margin-bottom: -20px;
    }   
    .title1{
        font: bold 65px/70px 'obviously', sans-serif; 
        margin-bottom: 30px;  
    }
    .title1_nounderline{
        text-decoration: none;
    }
    .container1 p {
        font: normal 23px/30px 'obviously', sans-serif;
    }
    .line {
        margin: 15px 30px 0 25px; 
        font-weight: bold;
    }
    .container1 .descriptionNbp-desktop{
        display: flex; 
        flex-flow: column nowrap; 
    }
    .year {
        align-self: flex-end; 
        justify-self: flex-start;
    }
    footer{
        display: relative; 
    }
    .footer1, .footer2, .footer3{
        margin-top: -20px; 
    }
}

@media screen and (min-width: 1660px) {
    .logo{
       width: 90%; 
       margin-left: 110px; 
    }
    .mainFooter img{
        left: 1260px; 
    }
    .caseStudyDesktop{
        grid-template-columns: 40% auto;
    }
    .caseStudyText{
        margin-left: 50px; 
    }
    .year{
        margin-left: 265px; 
    }
}

