:root {
    --margin-left-mobile: 20px; 
    --margin-left-tablet: 30px; 
    --margin-left-desktop: 50px; 
    --color-black: #101111; 
    --color-white: #F5F5F5; 
    --regular-small-text: normal 17px/30px 'obviously', sans-serif;
    --margin-left-artwork: 120px; 
}

*{
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'obviously', sans-serif;
    font-family: 'swear-display', serif;
    scroll-behavior: smooth;
}
.content{
    background-color: var(--color-white);
}
@media screen and (min-width: 0px) {
/*HAMBURGER MENU*/ 
    .tablet-nav {
        display: none; 
    }
    .mobile-nav__menu-icon{
        background-color: transparent;
        max-width: 150px;
        stroke: var(--color-black);
        stroke-width: 1.5;
        width: 10%;
        z-index: 500;
        position: absolute; 
        top: 20px; 
        right: 20px; 
        position: fixed;
        cursor: pointer;
    }
    .mobile-nav__button {
        display: flex;
    } 
    .mobile-nav__list{
        background-color: var(--color-black);
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 150px 30px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 400;
        position: fixed;
    }
    .logo-menu{
        width: 25%; 
        height: auto; 
        position: absolute;
        top: 20px; 
        left: 5px; 
        padding: 0px; 
        cursor: pointer;
    }
    .mobile-nav__list-item {
        list-style-type: none;
    }
    .mobile-nav__list-link  {
        display: block;
        text-decoration: none;
        margin: 5px 0;
        padding: 10px 0;
        font: normal 25px/45px 'obviously', sans-serif; 
        cursor: pointer;  
        color: var(--color-white);
    }
    .mobile-nav__list-link:hover{
        font-style: italic;
    }
    .mobile-nav_contact-link{
        display: block;
        text-decoration: none;
        font: normal 15px/30px 'obviously', sans-serif; 
        color: var(--color-white);  
    }
    .mobile-nav-contact_list{
        margin-top: 280px; 
    }
    .menuOrder {
        font: italic 20px/35px 'swear-display', serif; 
        margin: var(--margin-left) 10px; 
        color: var(--color-white);
    }
    .mobile-nav__list {
        transform: translate(100vw);
    }
    .mobile-nav_contact-info{
        margin: 5px 0; 
    }
    .mobile-nav__list--open {
        animation: slideOpen .15s ease-in forwards;
    }
    .mobile-nav__list--close {
        animation: slideClosed .15s ease-in forwards;
    }
    @keyframes slideOpen {
        from {
            transform: translate(100vw);
        }
        to {
            transform: translate(0);
        }
    }
    @keyframes slideClosed {
        from {
            transform: translate(0);
        }
        to {
            transform: translate(100vw);
        }
    }
    .mobile-nav__menu-icon--open {
        display: none;
    }
    .nav{
        display: none; 
    }

/*NAV BAR + PLAYGROUND*/
    .logo {
        width: 15%; 
        height: auto; 
        position: fixed; 
        margin: 15px var(--margin-left-mobile) 0;
        cursor: pointer;
    }
    .navbar {
        display: flex; 
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .playground{
        width: 80%; 
        justify-self: center;
        margin: 50px 30px 0; 
    }

/*IntroText*/
    .mobileArtTitle {
        display: block; 
    }

/*hide, used for Tablet + Desktop*/ 
     .tabletArtTitle {
        display: none; 
    }
    .introText p{
        display: block;
        font: normal 16px/30px 'obviously', sans-serif; 
        margin: var(--margin-left-mobile);
        padding-top: 0;
        padding-bottom: 20px; 
    }

/*2021*/
    .container{
        padding-bottom: var(--margin-left-mobile);
    }
    .firstyear {
        background-color: var(--color-black);
    }
    .yearMade h1 {
    font: italic 65px 'obviously', sans-serif;
    color: var(--color-white);
    }
    .yearMade{
    margin: var(--margin-left-mobile);
    }

/*title*/ 
    .yearMade .container h2 {
        font: italic 20px/25px 'obviously', sans-serif; 
        color: var(--color-white);
        padding: 5px var(--margin-left-mobile) 5px;
    }

/* 2020*/
    .secondYear {
        background-color: var(--color-white);
    }
    .yearMade2 h1{
        margin: 0 var(--margin-left-mobile);
    }
    .yearMade2 {
        font: italic 65px 'obviously', sans-serif;
        margin: 0 var(--margin-left-mobile);
    }

/*title*/
    .yearMade2 .container h2 {
        font: italic 20px/25px 'obviously', sans-serif;
        color: var(--color-black);
        padding: 0 var(--margin-left-mobile); 
    }
    img {
        width: 100%; 
        height: auto; 
        padding: 10px 0 0;
    }

/*Back to top*/ 
    .topButton {
        text-align: center;
        font: normal 16px/27px 'obviously', sans-serif; 
        margin: 5px;   
    }
    .topButton a {
        text-decoration: none;
        color: var(--color-black); 
    }

/*footer*/
    footer {
        background-color: var(--color-black);
    }
    .footer1, .footer2, .footer3{
        padding: 25px var(--margin-left-mobile) 10px;
        color: var(--color-white);
    }
    footer h3 {
        font: italic 30px/35px 'swear-display', serif; 
    }
    footer a, ul{
        font: var(--regular-small-text);
        text-decoration: none;
        margin-top: 4px; 
        color: var(--color-white); 
    }
    .credit {
        padding: var(--margin-left-mobile);
        font: var(--regular-small-text);
        color: var(--color-white); 
    }}

@media screen and (min-width:768px) {
    .mobile-nav__list {
        padding: 190px var(--margin-left-tablet);
    }
    .mobile-nav__list-link {
        margin: 25px 0;
        font: normal 35px/45px 'obviously', sans-serif; 
    }
    .mobile-nav_contact-link{
        font: normal 18px/30px 'obviously', sans-serif; 
        color: var(--color-white);  
        margin-top: 20px; 
    }
    .mobile-nav-contact_list{
        margin-top: 260px; 
    }
    .menuOrder {
        font: italic 20px/35px 'swear-display', serif; 
        margin: var(--margin-left) 10px; 
        color: var(--color-white);
    }
    .logo-menu{
        width: 15%; 
    }
    .mobile-nav{
        display: block; 
    }

/*PAGE1*/ 
    .logo{
        width: 10%; 
        height: auto; 
    }
    .menu {
    width: 8%; 
    height: auto; 
    }
    .playground{
    width: 50%; 
    height: auto; 
    margin: 70px var(--margin-left-mobile) 0;
    }

/*hide, used for Mobile */ 
    .mobileArtTitle {
        display: none;
    }
     .tabletArtTitle{
        display: block; 
    }
    .introText p{
    display: block; 
    font: normal 25px/33px 'obviously', sans-serif; 
    margin: 10px 27px 50px; 
    letter-spacing: .5px;
    }
    .introText{
    margin-bottom: 15px;
    }
    .yearMade {
        font: italic 69px 'obviously', sans-serif;
    }
    .tabletContainer {
        display: grid; 
        grid-template-columns: 40% auto;
        grid-template-areas:"photo3 photo4" "photo1 photo2";
    }
    .photo1 {
        grid-area: photo1;
        margin: 0 15px 0 0; 
    }
    .photo2 {
        grid-area: photo2; 
        margin:  0 15px; 
    }
    .photo3 {
        grid-area: photo3;
        margin: 0 15px 15px 0;  
    }
    .photo4 {
        grid-area: photo4; 
        align-self: end; 
        margin: 0 15px 15px; 
    }

/*PAGE 1.5+2?*/ 
    .yearMade .container h2, .yearMade2 .container h2 {
        font: normal 40px/45px 'swear-display', serif;
        font-weight: bold;
        letter-spacing: .5px;
        padding: 5px var(--margin-left-mobile) 65px;
    }
    .tabletAlignCenter {
        text-align: center;
    }
    .topButton {
        font: normal 18px/33px 'obviously', sans-serif;
        padding-top: -10px;
        padding-bottom: 10px; 
    }

 /*FOOTER*/ 
    .footer h3 {
        font: italic 35px/40px 'swear-display', serif;
    }
    footer {
        width: 100%; 
        height: auto; 
        background-color: var(--color-black);
        display: grid; 
        grid-template-rows: 60% auto;
        grid-template-areas:"footer1 footer2" "footer3 blank" "credit blank";
    }
    .footer1 {
        grid-area: footer1; 
    }
    .email{
        padding-top: 20px; 
    }
    .link, .email{   
        font: normal 18px/27px 'obviously', sans-serif; 
    }
    .footer2 {
        grid-area: footer2; 
    }
    .footer3 {
        grid-area: footer3; 
    }
    .blank {
        grid-area: blank;
        background-color: var(--color-black);
    }
    .credit {
        align-self: flex-start; 
        grid-area: credit; 
        background-color: var(--color-black);
    }
}

@media screen and (min-width:1440px){
    .mobile-nav__menu-icon{
        width: 8%; 
    }
    .mobile-nav__list {
        padding: 240px var(--margin-left-tablet);
        text-align: center;
    }
    .mobile-nav__list-link {
        margin: 20px 0;
        font: normal 32px/45px 'obviously', sans-serif; 
    }
    .mobile-nav_contact-link{
        font: normal 20px/30px 'obviously', sans-serif; 
        color: var(--color-white);  
        margin-top: 20px; 
    }
    .mobile-nav-contact_list{
        margin-top: 180px; 
        margin-left: 20px; 
        text-align: left;
    }
    .menuOrder {
        font: italic 20px/35px 'swear-display', serif; 
        margin: var(--margin-left) 10px; 
        color: var(--color-white);
    }
    .logo-menu{
        width: 10%; 
        margin: 20px; 
    }
    .logo{
        width: 10%; 
        height: auto; 
    }
    .menu {
        width: 5%; 
        height: auto; 
    }
    .playground{
        width: 40%; 
        height: auto;
        margin-left: 10px;
        margin-top: 60px;
    }

/*hide Mobile */ 
    .mobileArtTitle {
        display: none;
    }
    .introText{
        width: 100%; 
        display: grid; 
        grid-template-columns: 40% auto;
        grid-template-areas: "blank introText";
        word-wrap: break-word;
    }
    .introText p{
        display: block; 
        font: normal 27px/40px 'obviously', sans-serif; 
        letter-spacing: .5px;
        grid-area: introText; 
        margin-right: 50px;
    }
    .yearMade2 h1, .yearMade h1{
        margin: var(--margin-left-mobile) var(--margin-left-desktop);
    }
    .desktopIntroBlank {
       grid-area: blank; 
    }
    .yearMade2 .container h2, .yearMade1 .container h2 {
        font: italic 45px/50px 'swear-display', serif;
    }
    .firstyear .container{
        margin: 0 100px; 
    }  
    .year2Artwork{
      display: flex;
      flex-flow: row wrap; 
      width: 100%;
      justify-items: center;
    }
    .artwork1{
        width: 40%; 
        height: auto; 
        margin: 0 20px 5px 100px; 
    }
    .artwork2 {
        width: 40%; 
        height: auto; 
        margin: 0 100px 5px 10px; 
    }
    .artwork3 {
        width: 100%; 
        height: auto; 
        margin: 0 100px; 
    }
    .ilovetree {
        align-self: center; 
    }
    img{
        padding: 0; 
    }
    
/*FOOTER*/ 
    .topButton a{
        font-size: 25px; 
    }
    .footer1, .footer2{
        margin: 70px; 
    }
    .footer3, .credit{
        margin-left: 70px; 
    }
    footer h3 {
        font: italic 60px/70px 'swear-display', serif; 
    }
    footer a, ul, .email, .link{
        font: normal 25px/34px 'obviously', sans-serif; 
        margin-top: 15px; 
    }
    .credit {
        font: normal 25px/34px 'obviously', sans-serif; 
    }}
    
    